body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}


div h1
{
    text-align: center;
    margin: auto;
    background-color: #555;
    margin-bottom: 20px;
    padding: 50px;
    color: #f0f0f0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product-item:hover {
    transform: translateY(-10px);
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
}

.product-item h2 {
    font-size: 1.5em;
    margin: 15px 0;
}

.product-item p {
    margin: 10px 0;
    color: #555;
}
